.wndpc-container {
	position: fixed;
	right: 1.25rem;
	bottom: 1rem;
	background-color: white;
	padding: .15rem;
}

.wndpc-container:hover > span {
	color: red;
}

.wndpc-container > span {
	text-decoration: underline;
	cursor: default;
}

/* The Modal (background) */
.wndpc-main, .wndpc-thanks {
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.wndpc-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 45%; /* Could be more or less, depending on screen size */
  left: 25%;
  border-radius: 4px;

}

.wndpc-content button {
	border-radius: 4px;
	margin-top: 1rem;
}


.wndpc-content span {
	margin-top: 1rem;
}

.wndpc-content input {
	margin-bottom: 1rem;
}


/* The Close Button */
.wndpc-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px!important;
}

.wndpc-close:hover,
.wndpc-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}