
.queriesArea {
	
	padding: 1rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0,0,0,0.08);
	/*width: 98.75%;*/
	margin: auto;
	margin: .75rem;
	/*margin-top: .3rem;*/
	background-color: white;
	overflow: auto;
	height: 50vh;
}

.queryCard.showing {
}

.queryDetails {
	padding-bottom: 1rem;
}

.querySteps {
	text-align: left;
}

.queryCard {
	border-radius: 4px;
	/*background-color: rgba(150,150,150,.1);*/
	/*padding: 1.2rem;*/
	margin: .75rem 0;
}

.queryCard:hover {
	/*background-color: rgba(150,150,150,.2);*/
}

.queryTitle {
	/*display: flex;*/
	justify-content: space-between;
	/*padding-bottom: 1.5rem;*/
}

.queryTitle-inner {
	display: flex;
	flex-direction: column;
	/*text-align: left;*/
/*	table-layout: fixed;
*/}

.queryTitle-inner-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 1.75rem;
}


.queryTitle-icon-container > span{
	padding-left: 1.5rem;
}

.queryTitle-icon-container::before {
	content: 'View this query in action';
	display: none;
}

.queryCard > span {
	pointer-events: none;
} 

.query {
	display: none;
	/*flex-direction: row;
	justify-content: space-between;*/
}

.queryCard tr {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-bottom: 1px solid rgba(150,150,150, .25);
}


.queryCard td {
	padding: .25rem;
}

.showing .query,
.showing .tableHeader {
	display: table;
}

.tableHeader {
	display: none;
	margin-top: .15rem;
}


.query:hover {
	/*background-color: rgba(255, 165, 0, .75);*/ /*orange*/
	/*background-color: rgba(150,150,150,.1);*/
	/*border-radius: 8px;*/
	
}

.query > span {
	padding: 0 .5rem;
}
  
.showing .highlightable {
	transform: rotate(180deg);
}
.highlightable {
	pointer-events: auto;
}

.highlightable:hover {
	color: #f48327;

}

.visualize {
	pointer-events: auto;
	cursor: pointer;
}

.visualize:hover {
	color: #f48327;
}

.failedRun:hover {
	pointer-events: auto;
	cursor: pointer;
	text-decoration: underline;
	/*text-decoration-color: black;*/
}