
.dataArea {
	background-color: rgb(250,250,250);
	height: 90vh;
	overflow: auto;
	padding: 1rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0,0,0,0.08);
	margin: auto;
	margin: .75rem;
	background-color: white;
	height: 50vh;
}

.noDataText {
	position: absolute;
	top: 25%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.dataPageTitle {
	/*display: flex;*/
	background-color: white;
	padding-top: 1.5rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0,0,0,0.08);
	margin: 1rem;
	padding: 1rem;
}

.chartContainer {
	background-color: white;
	padding: 1.5rem 0rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0,0,0,0.08);
	margin: 1rem;
	/*padding: 1rem;*/
}

.stepNo-select {
	text-align: right;
}

.stepNo-select::before {
	content: 'Show data collected at step:';
	margin-left: 1rem;
}

.stepNo-select {
	margin-right: 1rem;
}

.stepNo-select > select {
	margin: 1rem;
	padding: .25rem .5rem;	
	border-radius: 4px;
	width: 5vw;
}

.stepNo-select > select > option {
	/*border-radius: 4px;*/
}