
.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1px; 
	z-index: 10;
}

.overlay {
	fill: none;
	pointer-events: none;
}

.gridline {
  opacity: 0.2;
}

.grid {
	pointer-events: none;

}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
  z-index: 1;
}

.grid path {
  stroke-width: 0;
}

/*svg {
	height: 90vh!important;
}
*/
/*
.axis {
	stroke: #000;
}
*/

/*.axis-labels text {
  fill: #000;
  fill-opacity: 0.9;
  font-size: 12px;
  text-anchor: middle;
}
.axis-labels line {
  stroke: #000;
}
*/
.dot {
	fill: steelblue;
	stroke: #fff;
	
}

.focus circle {
	fill: none;
	stroke: steelblue;
}

svg {
  fill: steelblue;
  fill-opacity: 1;
  
}


.tooltip {
	position: absolute;
	display: none;
	text-align: center;
	width: 60px;
	height: 40px;
	padding: 2px;
	font: 12px;
	background: rgba(252,252,252,1);
	border: 1px solid black;
	border-radius: 0;
	pointer-events: none;
	z-index: 1000;
}




