html {
  box-sizing: border-box;
  font-size: 16px; }

*,
*:after,
*:before {
  box-sizing: border-box; }

body {
  font: 100% 'Roboto', arial, sans-serif;
  background: #f5f5f5; }

form {
  padding: 2rem;
  padding-top: 0.3125rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); }

h1 :not(#page-wrapper *) {
  margin-top: 0;
  margin-bottom: 1.5rem;
  /*3.236rem;*/
  text-align: center;
  font-size: 1.618rem; }

.form-group {
  padding: 0;
  border: 0; }
  .form-group + .form-group {
    margin-top: 1rem; }

#formMessage {
  background-color: #fff;
  border-radius: 3px;
  resize: none; }
  #formMessage:focus {
    border-color: #457abb; }

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: .75rem;
  text-transform: uppercase;
  touch-action: manipulation; }

input,
textarea {
  display: block;
  padding: .5rem .75rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #eee;
  border-left: 0;
  border-radius: 3px;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1); }

input:focus {
  outline: 0;
  border-bottom-color: #457abb; }

textarea {
  resize: vertical; }

.btn {
  display: inline-block;
  padding: .75rem 1rem;
  margin-top: 1.618rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #457abb;
  border: 1px solid transparent;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  user-select: none;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1); }
  .btn:focus, .btn:hover {
    background-color: #769dcd;
    box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07); }
  .btn:focus {
    outline: 0; }

.contactPage {
  position: relative;
  width: 60%;
  margin: auto; }

.submitSuccessful {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #282c34;
  height: 14.5vh;
  width: 100%;
  border-radius: 4px;
  text-align: center;
  color: white;
  font-size: 1.25rem;
  text-align: center; }

.submitSuccessful::after {
  margin-top: -1vh;
  font-size: .75rem;
  content: "We can't wait to take it back to the lab!"; }

.contactCard {
  padding: 2rem;
  padding-top: 1.25rem;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  margin: 2rem;
  max-width: 95%;
  margin-top: 1rem; }

.contactCard > p {
  text-decoration: underline; }

.middle {
  padding: 10rem 2rem; }

.lower {
  padding: 1rem; }

/*# sourceMappingURL=contact.css.map */
