
body {
	background: #fafafa;
	/*overflow-x: hidden!important;*/
	overflow-y: hidden;
}

.App
/*:not(#page-wrapper *)*/
{
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;/*40vmin;*/
  margin: 0;
 /* margin-right: 8px !important;*/
  padding: 0;
  /*background-size: 80px 23px;*/
  x: 0px;
  y: 0px;
  overflow: visible;
  transition-property: height;
  transition-duration: .3s;
}

.App-logo:hover {
	/*height: 60px;*/
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*=======GLOBAL CSS========*/
html, 
body  {
	font-size: .94rem!important;
	/*font-family: 'Niramit'!important;*/
	font-family: Roboto,"Helvetica Neue",sans-serif !important;
}

.g-flex {
	display: flex!important;
	margin: 0!important;
	padding:0!important;
}

.g-fixed {
	position: fixed!important;
}

.g-relative {
	position: relative!important;
}

.g-flex-row {
	flex-direction: row!important;
}

.g-flex-column {
	flex-direction: column!important;
}

.g-not-visible {
	visibility: hidden!important;
}

.g-flex-1 {
	flex: 1!important;
}

.g-flex-shrink-0 {
	flex-shrink: 0!important;
}

.g-flex-grow-1 {
	flex-grow: 1!important;
}

.g-flex-1-1-100 {
	flex: 1 1 100%!important;
}

.g-inline-flex {
	display: inline-flex!important;
}

.g-flex-nowrap {
	flex-wrap: nowrap!important;
}

.g-justify-space-between {
	justify-content: space-between!important;
}

.g-justify-space-around {
	justify-content: space-around!important;
}

.g-justify-end {
	justify-content: flex-end!important;
}

.g-border-r-4 {
	border-radius: 4px!important;
}

.g-text-center {
	text-align: center!important;
}

.g-text-left {
	text-align: left!important;
}

.g-text-right {
	text-align: right!important;
}

.g-align-items-stretch {
	align-items: stretch!important;
}

.g-align-items-center {
	align-items: center!important;
}

.g-align-right {
	text-align: right!important;
}

.g-header-background-color {
	background-color: #457abb!important;
}

.g-header-color {
	color: #fff!important;
}

.g-header-border-color {
	border-color: #d5dfeb!important;
}

.g-full-height {
	height: 100%!important;
}

.g-hide {
	display: none!important;
}

.g-link {
	text-decoration: none!important;
}

.g-normal-link {
	text-decoration: underline!important;
}

.g-highlight-link:hover {
	text-decoration: underline!important;
	padding: 0rem 1rem;
}

.g-highlight-link {
	color: #337ab7 !important; /*#337ab7*/ /*orange*/
}

.g-nav-link {
	align-items: center!important;
	color: #fff!important;
	display: flex!important;
	font-size: 1.1rem;
	padding: 0 1rem;
	text-align: center!important;
	white-space: nowrap!important;
}

.g-no-click {
	pointer-events: none;
}

.g-max-width {
	width: 100vw!important;/*87.5vw!important;*/
}

.g-pd-1 {
	padding: 1rem!important;
}

.g-pd-2 {
	padding: 2rem!important;
}

.g-pd-3 {
	padding: 3rem!important;
}

.g-color-white {
	color: white;
}
