
/*fonts, images that are loaded from web and not stored locally*/

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import url('https://fonts.googleapis.com/css?family=Niramit:300');

/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Roboto');

