
/* Step Area */
.stepArea {
	
	/*background-color: rgba(225, 225, 225, 1);*/
	background-color: #262f3d;
	/*margin-top: 50px*/
	/*height: calc(100vh - 50px)!important; *//*91vh;*/
	/*padding-right: .35rem;*/
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0,0,0,0.08);	
	transform: translateZ(0);

    -webkit-transform: translateZ(0);
	/*min-width: 15vw;*/
	/*position: absolute;*/
	/*position: static;*/
	/*position: relative;*/
	/*position: sticky!important;
	position: -webkit-sticky!important;*/
	/*position: fixed;*/
	left: 0;
	bottom: 0;
	top: 0;
	
	-webkit-box-sizing: border-box;
	display: flex;
	align-items: stretch;
	z-index: 99999;
	width: 4.5vw;
	/*animation: kf-narrow .3s linear;*/
	/*ease*/
	transition: width .3s cubic-bezier(0.4,0.0,0.2,1);
	/*overflow: hidden;	*/
	flex-direction: column;
	display: -webkit-flex;
	display: flex;
	height: 100vh;
	justify-content: space-between;
	font-family: Roboto,"Helvetica Neue",sans-serif !important;
}

.stepArea.showing {
	width: 25vw;	
}



.stepIcon {
	/*position: absolute;*/
/*	margin-right: auto;
	margin-left: auto;
	right: 0;
	left: 0;
	top: .25rem;*/
	display: inline-block;
	/*left: .35rem;
	top: 1.65rem;*/
}

.stepIcon::before {
	content: 'h';
	visibility: hidden;
}

div.queryNameArea {
	padding: .5rem .5rem;
	display: flex;
	/*line-height: 1.5rem;*/
}

.queryNameAreaShowing > #queryNameAreaSave {
	display: inline-block;
}

#queryNameAreaSave {
	border-radius: 4px;
	background-color: white;
	font-size: 1rem;
	margin-left: .3rem;
	padding-left: .5rem;
	padding-right: .5rem;
	color: rgba(0,0,0,.8);
	display: none;
	position: relative;
	cursor: pointer;
}

#queryNameAreaSave > * {
	/*position: absolute;*/
	display: flex;
	align-content: center;
	justify-content: center;
	padding: .5rem 0;
}

#queryNameAreaSave:hover {
	background-color: rgba(255,255,255,.9);
}

.pencil-container {
	border-radius: 4px;
	background-color: white;
	width: 15%;
	margin-left: .5rem;
}

.pencil-container:hover {
	background-color: rgba(255,255,255,.75);
}

#left-logo-container {
	background-color: rgba(255,255,255, .075);
	padding-bottom: .25rem;
}

#left-logo {
	/*height: 3vh;*/
	margin: 1rem auto 0rem auto;
	/*color: rgba(255,255,255,.7);*/
	color: white;
	font-size: 1.15rem;
}

/*title logo*/
#left-logo :nth-child(1) {
	letter-spacing: .5rem;
	font-size: 1.45rem;
}


#left-logo :nth-child(3) {
	color: rgba(255,255,255,1);
}

h3 {
	margin-top: 0.1rem;
}


#left-logo.showing {

}

#left-logo.collapsed {
	content: 'A';
}

#stepArea-scrollable{
	overflow-y: auto;
	overflow-x: hidden;	
	position: relative;
	margin-bottom: .75rem;
	padding: .35rem;
	padding-right: .5rem;
	height: 100%;
}

.not-empty {
	/*max-height: calc(100% - 30%); 
	min-height: calc(100% - 30%);*/
	height: 100%;
}

.emptyText {
	padding-top: 90%;
}

.exploreQueryCard {
	background-color: rgba(150,150,150,.1);
	border-radius: 4px!important;
	padding: 1.05rem!important;
	/*padding-left: 1.75rem;*/
	padding-right: .75rem!important;
	margin: .5rem 0!important;
	cursor: pointer;
	display:flex;
	justify-content: space-between;
	position: relative;
}

.exploreQueryCard:hover i {
	color: #f48327;;
}

.giveMeSpace {
	/*padding: 0 .7rem 0rem 0rem;*/
	margin-right: .75rem;
}

.exploreQueryCard:hover,
.exploreQueryCard.selected {
	background-color: rgba(150,150,150,.35);
}

.exploreQueryStepNumber {
	position: absolute;
	left: .5rem;
	top: .5rem;
}

.scrollbar::-webkit-scrollbar {
	height:8px;
	width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb{
	/*color: blue;*/
	background: rgba(150,150,150,.4);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-track-piece {
	background: rgba(9,45,66,.08);
}

.scrollbar {
	user-select: none;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0);
	padding: 0 6px;
}

#arrow-container {
	position: relative; 
	height: 6.5vh;
	padding-bottom: 1.5rem;
	padding-top: .15rem;
	background-color: rgba(255,255,255, .075);
}

#arrow-button {
	color: rgba(255,255,255,.7);
}

#arrow-button.collapsed {
	transition: transform .3s linear;
	position: absolute;
	height: 3.5vh;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	/*transition: color .3s ease;*/
}

#arrow-button.showing {
	position: absolute;
	transform: rotate(180deg);
	height: 3.5vh;
	/*margin-right: auto;*/
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	right: .5rem;
	top: 0;
	bottom: 0;
}

#arrow-button:hover {
	color: #337ab7; /*want to make this orange!!*/
	cursor: pointer;
}

.actionStep {
	background-color: rgba(255,255,255, 1);
	margin: 0 auto .35rem auto;
/*	min-height: 9vh;*/
	border-radius: 8px;
	position: relative;
	text-align: center;
	margin-left: .15rem;
	transition: border-radius .3s linear;
	line-height: 1.3rem!important;
	color: rgba(0,0,0,.65);
	cursor: pointer;
}

.actionStep > * {
	pointer-events: none;
}

.actionStep.showing {
	border-radius: 2px;
}

/*for playback*/
.actionStep.selected {
	background-color: rgba(255,255,255,.75);
}

.actionStep:hover {
	background-color: rgba(255,255,255, .75);;
}

.actionStep:hover .removeX{
	visibility: visible;
}

.stepNumber {
	position: absolute;
	text-align: left;
	left: .5rem;
	top: .1rem;
}

.stepLeft.action {
	padding-top: .25rem;
	padding-bottom: .3rem;
}

.removeX {
	position: absolute;
	top: .1rem;
	right: 0vw;
	cursor: default;
	color: black;
	visibility: hidden;
}

.removeX:hover {
	color: red;
	cursor: pointer;
}

/*PLAYBACK AREA*/
#playbackArea {
	/*position: absolute;*/
	/*width: 2.5vw;*/
	/*padding-top: 1rem;*/
	display: block;
	width: 100%;
	transition: width .3s ease;
	bottom: 0rem;
	right: 0;
	/*overflow: hidden;*/
	z-index: 100000;
	background-color: rgba(150,150,150,.15);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0,0,0,0.08);
	/*padding: .2rem;*/
/*	height: 11.5vh;*/
}

#playbackArea.collapsed {
	/*margin-left: auto;
	margin-right: auto;
	right: 0;*/
	/*left: 0;*/
}

#playbackArea.showing {
	/*right: 0rem;*/
}

.divider {
	border-color: rgba(1,1,1,.15);
	margin: 0;
	margin-left: .8vw;
	margin-right: .8vw;
	/*margin-bottom: .2rem;*/
}
.playbackWrapper {
	position: relative;
	width: 100%;
	/*display: flex;*/
	justify-content: space-between;
	border: 1px solid rgba(1,1,1,.15);
	/*border-radius: 16px;*/
	/*margin: .2rem;*/
	/*transition: background-color .3s linear;*/
	/*background-color: rgba(150,150,150,1);*/
	padding: .2rem;
	min-height: 2rem;
}

.playbackWrapper:hover {
	background-color: rgba(255,255,255,.1);
}

.backwards {
	transform: rotate(180deg);
	/*padding-top: .3rem;*/
}

.verticalDivider {
	background-color: rgba(1,1,1,.15);
	width: 2px;
	margin: 0rem -.75rem;
}

/*.playbackWrapper:hover {
	background-color: rgba(150, 150, 150, .5);
}*/

.playbackDesc {
	margin-left: 1rem;
	white-space: nowrap;
	color: rgba(255,255,255,.7);
	line-height: 2rem;
}

.showing.playbackButton {
	/*line-height: 1.3;*/
	/*margin-top: .3rem;*/
	position: absolute;
	left: 0;
	right: 0;
	margin-left: 20%;
	margin-right: auto;

}

.playbackWrapper > i,
.material-icons
{
	color: #337ab7;
}

.playbackButtonUpper {
	line-height: 2rem;
}


.playbackWrapper:hover > i,
.playbackWrapper:active > i,
.material-icons:hover,
.queryFinishedBtn:hover .material-icons,

#arrow-container:hover .material-icons
{
	color: #f48327; /*orange*/
}

.playbackButton.showing {
	margin-right: 1rem;
}

.playbackButton:hover,
.playbackButton:active {
	/*color: #f48327;*/ /*orange*/
}



.explorePageDefaultText,
.collectedDataDefaultText {
	color: rgba(255,255,255,.7)
}

.queryTitleAbs {
	position: absolute;
	left: 0;
	right: 0;
}

.queryTitle {
	padding-left: 1rem;
}

.queryFinishedBtn{
	padding: .25rem .1rem;
	color: rgba(255,255,255,.95);
	background-color: rgba(255,255,255,.25);
	border-radius: 4px;
}

.showing .queryFinishedBtn {
	padding: .75rem;
}

.queryFinishedBtn .material-icons {
	color: white;
}

.queryFinishedBtn-outer {
	padding: .5rem;
}

.queryFinishedBtn:hover {
	background-color: rgba(255,255,255,.35);
}

.querySaveIcon {
	font-size: 18px;
}

.deletedQuery {
	color: red;
}



.switch-block {
  width: 300px;
  /*position: relative;*/
}

.switch-toggle input {
    width: 0px;
    visibility: hidden;
}

.toggle {
	padding: .1rem 0rem;
}

.frequencyToggle > select,
.timeToggle > select {
	border-radius: 4px;
	padding: .1rem .5rem;
	color: rgba(0,0,0, .7);
	width: 100px;
}

.rc-time-picker {
	width: 100px;
}

.rc-time-picker-panel {
	z-index: 99999!important;
}

.frequencyToggle,
.timeToggle {
	padding: .1rem .5rem;
	line-height: inherit;
	margin-right: 0;
}

.frequencyToggle-label,
.timeToggle-label,
.toggle-label {
	color: rgba(255,255,255,.8);
	padding: .1rem .5rem;
}

/* COLORINGS */
.url {
	padding: .25rem;
	border-bottom: 4px solid;
	border-color: rgba(0,0,255, .5);
}

.nexturl {
	padding: .25rem;
	border-bottom: 4px solid;
	border-color: rgba(0,255,255, .5);
}

.click {
	padding: .25rem;
	border-bottom: 4px solid;
	border-color: rgba(0,255,0, .5);
}

.typetext {
	padding: .25rem;
	border-bottom: 4px solid;
	border-color: rgba(255,255,0, .5);
}

.readdata {
	padding: .25rem;
	border-bottom: 4px solid;
	border-color: rgba(255,0,0, .5);
}