/*
revert direct child to inherit nothing from parents
this will be passed down onto lower elements.
*/
.dangerous > * {
	all: initial!important;
}


#renderer {
	width: 100%!important;
	height: 100rem!important;
}