
#url-form {
	background-color: white;
	flex: 1;
	display: flex;
	padding: 5px 8px 0 16px;
	width: 584px;
	/*position: relative;*/
	margin: 0 auto;
	margin-top: 3.5%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0,0,0,0.08);
	z-index: 9999;
	/*height: 34px;*/
	transition: box-shadow, 0.1s, ease;
	align-items: center;
	border-radius: 3px;
	/*left: 20%;
	position: fixed;*/
}

#url-form:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

#url-input {
	background-color: transparent;
	border: none;
	margin: 0;
	color: rgba(0, 0, 0, .87);
	word-wrap: break-word;
	outline: none;
	display: flex;
	flex: 100%;
	line-height: 34px;
	height: 34px!important;
	font: 16px arial, sans-serif;
	padding-left: 12px;
	font-family: Roboto,"Helvetica Neue",sans-serif !important;
}

#url-submit-btn {
	color: #757575;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	border: 1px solid #f8f8f8;
	background-color: #f2f2f2;
	height: 36px;
	line-height: 27px;
	border-radius: 2px;
	font-family: arial,sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 11px 4px;
	min-width: 54px;
	padding: 0 16px;
	text-align: center;
	align-items: flex-start;
	white-space: pre;
}

#url-submit-btn:hover {
	color: black;
	border: 1px solid #c6c6c6;
}

.instruction-span {
	padding-top: 1rem;
	letter-spacing: 1.15px;
}

.website-screenshot {
	padding: .5rem;
	max-width: 35vw;
	background-color: rgba(20, 225, 150, .6);
}

.tag-row {
	padding: .2rem;
	max-width: 40vw;
	overflow-x: hidden;
	border-radius: 2px;
}

.tag-row:hover,
.tag-row:active {
	background-color: rgba(150, 150, 150, .15);
}

.selected-row {
	background-color: rgba(150, 150, 150, .5)!important;
}

.ad-desc {
	margin-top: 5%;
}

.browser-frame {
	width: 100%;
	height: 100vh;
}

.mainArea {
	
	/*overflow-x: auto;*/
	/*overflow: auto;*/

	/*overflow-x: visible;*/
	/*height: 91vh;*/
}

.page-wrapper {
	margin-top: 12.5vh;
	/*position: relative;*/

	/*width: 100vw;*/
	/*max-width: 100vw;*/
}



/* Disable ugly autofill yellow on input textbox when autocomplete is turned on */
@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.title-display {
	font: 16px arial,sans-serif;
	letter-spacing: 1.15px;
	
}

.highlight-yellow {
	background-color: #fcfc1b;
	padding: .15rem;
}


/* Action Area*/
.actionButton-container {
	background-color: #262f3d;
	position: fixed!important;
	z-index: 99999999!important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.actionButton {
	padding: .25rem!important;
	margin: .25rem!important;
	border-radius: 6px!important;
	position: fixed!important;
	/*left: 32.5%!important;
	top: 35%!important;
	width: 50vw!important;*/
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0,0,0,0.08);
	/*opacity: .9;*/
	background-color: #262f3d;
}

.actionButton > span {
	color: white;
	margin-top: .5rem;
	margin-bottom: .15rem;
}

.actionButton > input {
	margin: .25rem .25rem;
	width: inherit;
}

.actionButton > select {
	margin: .25rem .25rem;
	border-radius: 4px;
	padding: .25rem;
}

.actionButton > button {
	background-color: white!important;
	border: none!important;
	border-radius: 4px!important;
	font-weight: inherit!important;
	text-transform: inherit!important;
	font-family: inherit!important;
	padding: inherit!important;
	margin: .2rem;
	/*text-decoration: inherit!important;
	cursor: inherit!important;
	display: inherit!important;
	position: inherit!important;*/

}

.actionButton > button:hover {
	background-color: rgba(235, 235, 235, 1)!important;
}

.actionButton:hover .actionAreaRemoveX,
.actionButton-container:hover .actionAreaRemoveX {
	visibility: visible;
}

.actionAreaRemoveX:hover {
	color: red;
}

.actionAreaRemoveX {
	/*position: absolute;*/
	margin-right: .25rem;
	text-align: right;
	color: white;
	visibility: hidden;
	cursor: default;
	width: 100%;
}

.spacer {
	width: 80%;
}




.readdata-highlighted {
	background-color: orange;
}
/*
.readdata-highlighted::before {
	content: 'reading data';
	font-size: .75rem;
	background-color: rgba(255,255,0, .5);
}*/

.queryFinishedModal {
	position: absolute;
	height: calc(100vh - 50px);
	width: 100%;
	background-color: rgba(150,150,150,.75);
	z-index: 999999;
	overflow: hidden;
}

.queryFinishedModal-inner {
	position: absolute;
	margin: auto;
	width: 50%;
	/*height: 50%;*/
	left: 0;
	right: 0;
	/*bottom: 0;
	top: 0;*/
	top: 20%;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.queryFinishedModalBtn {
	background-color: rgba(0,0,0,.25);
	border-radius: 4px;
	padding: .75rem;
	margin: 1rem 8rem;
}

.queryFinishedModalBtn:hover {
	background-color: rgba(0,0,0,.15);
}


.queryDetailsModal > span{
	padding: 0.75rem 1.5rem;
}