
.topNav {
	position: absolute;
	height: 50px;
	width: 100%;
	flex: 0 0 auto;
	z-index: 100000;
	display: block;
	box-sizing: border-box;
	text-transform: lowercase;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0,0,0,0.08);
	padding-left: 1.25rem;
}

.topNav-inner {
	position: relative;
	display: block;
	flex: 0 0 auto;
}

a {
	color: inherit;
	text-decoration: none;
}

#wrapper {
	position: relative;
	flex-direction: column;
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;

	flex: 1;
}


